/* PostCSS */

html.PAGE_SSO {
  background: url(../image/blurbkgd.jpg) no-repeat 0 0;
  background-size: cover;

	section {
		padding: 20px 30px 20px 30px;
		margin: 0px auto;
		text-align: center;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
	}

	iframe {
		width: 100%;
		height: 100%;
		border:none;
		min-height: 1000px;
		min-width: 100%;
	}

	a.noSSOFound,
	a.ssoError {
		margin: 0 0 0 1em;
		display: inline-block;
		padding: 0.5em 1em;
		color: #dcf8dc;
		background: #3c681c;
	}

	button.goBack {
		margin: 1em 0 0 2em;
		display: inline-block;
		padding: 0.5em 1em;
		color: white;
		background: transparent;
		border: solid 1px white;
		font-weight:bold;
	}

	a.ssoError {
		margin-top: 1em;
	}

}
