<?xml version='1.0' encoding='utf-8'?>
<widget id="org.mahara.mobile" ios-CFBundleIdentifier="mahara.mobile" version="1.3.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Mahara Mobile</name>
    <description>
      Mobile app for Mahara, the open source ePortfolio platform.

      Mahara Mobile allows you to connect your mobile device to your Mahara site.
      You can create and collect your content on your mobile device - even when you are offline - and use the app to upload it to your Mahara site.

      In order to push content to Mahara from Mahara Mobile, you require an account on a Mahara site that allows mobile uploads.
      Typically, the institution that you are affiliated with will make a Mahara instance available to you to use if you are working with portfolios.

      Mahara Mobile is an open source project. To contribute or report bugs, see https://github.com/MaharaProject/mahara-mobile
    </description>
    <author email="support@mahara.org" href="http://mahara.org/">
        Catalyst IT
    </author>
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <feature name="Camera">
        <param name="android-package" value="org.apache.cordova.CameraLauncher" />
    </feature>
    <content src="index.html" />
    <engine name="android" spec="~5.2.2" />
    <engine name="ios" spec="~4.3.0"/>
    <engine name="browser" spec="~4.1.0" />
    <plugin name="cordova-plugin-whitelist" spec="~1.3.0" />
    <plugin name="cordova-plugin-media" spec="~2.4.1"/>
    <plugin name="cordova-plugin-camera" spec="~2.3.0" />
    <plugin name="cordova-plugin-inappbrowser" spec="~1.5.0" />
    <plugin name="cordova-plugin-media-capture" spec="~1.4.1">
      <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="Used to upload photos to a Mahara site" />
    </plugin>
    <plugin name="cordova-plugin-file" spec="~4.3.0" />
    <plugin name="cordova-plugin-device" spec="~1.1.3" />
    <plugin name="cordova-plugin-file-transfer" spec="~1.6.0" />
    <plugin name="cordova-plugin-statusbar" spec="~2.2.1" />
    <plugin name="cordova-plugin-globalization" spec="~1.0.4" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <icon density="ldpi" platform="android" src="res/icon/android/mipmap-ldpi/ic_launcher.png" />
    <icon density="mdpi" platform="android" src="res/icon/android/mipmap-mdpi/ic_launcher.png" />
    <icon density="hdpi" platform="android" src="res/icon/android/mipmap-hdpi/ic_launcher.png" />
    <icon density="xhdpi" platform="android" src="res/icon/android/mipmap-xhdpi/ic_launcher.png" />
    <icon density="xxhdpi" platform="android" src="res/icon/android/mipmap-xxhdpi/ic_launcher.png" />
    <icon density="xxxhdpi" platform="android" src="res/icon/android/mipmap-xxxhdpi/ic_launcher.png" />
    <icon height="20" platform="ios" src="res/icon/ios/AppIcon.appiconset/Icon-App-20x20@1x.png" width="20" />
    <icon height="29" platform="ios" src="res/icon/ios/AppIcon.appiconset/Icon-App-29x29@1x.png" width="29" />
    <icon height="40" platform="ios" src="res/icon/ios/AppIcon.appiconset/Icon-App-40x40@1x.png" width="40" />
    <icon height="57" platform="ios" src="res/icon/ios/AppIcon.appiconset/Icon-App-57x57@1x.png" width="57" />
    <icon height="58" platform="ios" src="res/icon/ios/AppIcon.appiconset/Icon-App-29x29@2x.png" width="58" />
    <icon height="60" platform="ios" src="res/icon/ios/AppIcon.appiconset/Icon-App-60x60@1x.png" width="60" />
    <icon height="76" platform="ios" src="res/icon/ios/AppIcon.appiconset/Icon-App-76x76@1x.png" width="76" />
    <icon height="80" platform="ios" src="res/icon/ios/AppIcon.appiconset/Icon-App-40x40@2x.png" width="80" />
    <icon height="87" platform="ios" src="res/icon/ios/AppIcon.appiconset/Icon-App-29x29@3x.png" width="87" />
    <icon height="120" platform="ios" src="res/icon/ios/AppIcon.appiconset/Icon-App-60x60@2x.png" width="120" />
    <icon height="152" platform="ios" src="res/icon/ios/AppIcon.appiconset/Icon-App-76x76@2x.png" width="152" />
    <icon height="167" platform="ios" src="res/icon/ios/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png" width="167" />
    <icon height="180" platform="ios" src="res/icon/ios/AppIcon.appiconset/Icon-App-60x60@3x.png" width="180" />
    <icon height="228" platform="ios" src="res/icon/ios/AppIcon.appiconset/Icon-App-76x76@3x.png" width="228" />
</widget>
