<?xml version='1.0' encoding='utf-8'?>
<widget id="nz.net.catalyst.maharamobile" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Mahara Mobile</name>
    <description>
      Android uploader for Mahara, the open-source ePortfolio.
      MaharaMobile enables Android phones to share or upload content to a Mahara site. It allows you to:
      - upload photos from your phone
      - create journal entries on your phone
      - receive your Mahara notifications on your phone
      - create Mahara content while offline, and schedule it to upload automatically at a later time

      MaharaMobile is an open-source project. To contribute or report bugs, see https://github.com/holloway/mahara-mobile
    </description>
    <author email="mahara-mobile@mahara.org" href="http://mahara.org/">
        Maraha Mobile by Catalyst IT
    </author>
    <content src="index.html" />
    <feature name="Camera">
        <param name="android-package" value="org.apache.cordova.CameraLauncher" />
    </feature>
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="~5.2.2" />
    <engine name="browser" spec="~4.1.0" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-media" spec="~2.3.0" />
    <plugin name="cordova-plugin-file-transfer" spec="~1.5.1" />
    <plugin name="cordova-plugin-camera" spec="~2.3.0" />
    <plugin name="cordova-plugin-inappbrowser" spec="~1.5.0" />
</widget>
