/* PostCSS */

html.PAGE_LOGIN {
	overflow:hidden;

	section {
		padding: 20px 15px 20px 15px;
		margin: 0px auto;
		text-align:center;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
	}

	input {
		padding: 9px 13px;
		border: 0;
		border-bottom: 2px solid #68992a;
		box-shadow: none;
		background-color: #527b1e;
		text-align: left;
		display: block;
		box-sizing: border-box;
		width:100%;
		color: #c1e494;
		margin-bottom: 20px;
	}

	label {
		display: block;
		text-align: left;
		margin: 5px 0px 0px 0px;
		padding: 0;
		font-weight: bold;
	}

	button.next {
		color: #fff;
		padding: 10px 10px;
		border: 1px solid white;
		background: #477f00;
		text-align: left;
		margin-top: 20px;
	}

	button.changeServer {
		background: transparent;
		color: #ecff64;
		border: none;
		text-decoration: underline;
		padding: 0px;
		margin-left:1em;
	}

	p.textLinks {
		text-align: right;
		padding: 0px;
		margin: 0;
	}

	button.forgotPassword {
		margin-top: 0.5em;
		font-size:medium;
		float:right;
		color: white;
		text-decoration:underline;
		border: none;
		background: none;
	}

}
