/* PostCSS */

@define-mixin reset {
	padding: 0;
	margin: 0;
}

nav {
  @mixin reset;
	text-align:center;
	&.main {
		position:fixed;
		top:0;
		width: 100%;
	}


  ul {
    @mixin reset;
  }

  li {
    @mixin reset;
    display:inline-block;
    width:33.33%;
    text-align:center;
    background-color: #202020;
		background-position: 99% center;
		background-repeat: no-repeat;
		background-size: 25px 25px;
		box-sizing: border-box;

  }

  a {
    color: white;
    display:block;
    padding: 30px 0px 7px 0;
    text-decoration:none;
		background: url(../image/add.svg) no-repeat center 7px;
		background-size: 23px 23px;

		&:active,
		&:focus,
    &:hover {
      color:white;
      text-decoration:none;
			outline:none;
    }

		img {
			vertical-align: top;
			height:1.1em;
			margin-left:5px;
		}
  }

	li:first-child a {
		background: url(../image/user.svg) no-repeat center 7px;
		background-size: 23px 23px;
  }

	li:last-child {
		background-position: center 1px;
		background-size: 30px 30px;

		a {
			background: none;
		}
	}

	li.active {
		background-color: #292929;
    border-bottom: 10px solid #292929;
	}

	span.sr-only { /* ScreenReader only -- class name from Twitter Bootstrap */
		display: inline-block;
		width:0px;
		height:0px;
		overflow:hidden;
	}

	span.badge {
		position:relative;
		font-size: 10px;
		top: -3px;
		left: 7px;
		background: #d76e08;
		color: #FFF;
		padding: 3px 7px 3px 7px;
		border-radius: 100%;
		font-weight:bold;
		text-shadow:none;
	}

	i.navbarActiveHighlight {
		display:block;
		transition: all 0.5s ease-in-out;
		position:relative;
		border-bottom: solid 3px #72cf00;
		height: 2px;
		width:30%;
	}
}

@media (max-width: 400px) {
	nav {
		a {
			font-size:small;
		}

		span.badge {
			font-size:xx-small;
			padding: 2px 5px 2px 5px;
		}
	}
}
