/* PostCSS */

div.LogoBar {
  padding: 0;
  margin: 0 auto;

	h1 {
		padding: 50px 35px 50px 15px;
		margin: 0px auto;
    text-align: center;

    img {
      width: 90%;
      max-width: 300px;
    }
	}
}

html.PAGE_SERVER div.LogoBar h1,
html.PAGE_LOGIN_TYPE div.LogoBar h1 {
  max-width: 300px;
  transition: max-width 1s ease-in-out;
}

html.PAGE_LOGIN div.LogoBar h1 {
  max-width:200px;
  transition: max-width 1s ease-in-out;
  padding: 20px 35px 15px 15px;
}

html.PAGE_SSO div.LogoBar h1 {
  max-width:200px;
  transition: max-width 1s ease-in-out;
}
