/* PostCSS */

@define-mixin reset {
	padding: 0;
	margin: 0;
}

html.PAGE_USER {
	section {
		max-width:800px;
		padding: 10px 15px;
		margin: 0 auto;
	}

	button {
		width:100%;
		padding: 0.5em 0px;
		margin: 0px 0px 0.7em 0px;
		font-size:xx-large;
	}
}
