/* PostCSS */

html.PAGE_SERVER {

	section {
		padding: 20px 15px 20px 15px;
		margin: 0px auto;
		text-align: center;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
	}

	label {
		display: block;
		color: #FFFFFF;
		margin-bottom: 5px;
		font-size: 16px;
		font-weight: bold;
	}

	input[type=url] {
		padding: 9px 13px;
		border: 0;
		border-bottom: 2px solid #68992a;
		box-shadow: none;
		background-color: #527b1e;
		text-align: left;
		display: block;
		box-sizing: border-box;
		width:100%;
		color: #c1e494;
		margin-bottom: 20px;
	}

	button {
		color: #fff;
		padding: 10px 10px;

		&.next {
			border: 1px solid white;
			background: #477f00;
			margin-left: 5px;
		}

		&.skip {
			border: 0;
			background: #3f6212;
			margin-right: 5px;
		}
	}
}



@media (max-width: 400px) {
	html.PAGE_SERVER {
		input[type=url] {
		}
	}
}
