/* PostCSS */

html.PAGE_SERVER {
  background: url(../image/blurbkgd.jpg) no-repeat 0 0;
  background-size: cover;

	section {
		padding: 20px 30px 20px 30px;
		margin: 0px auto;
		text-align: center;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
	}

	label {
		display: block;
		color: #FFFFFF;
		margin-bottom: 5px;
		font-size: 24px;
		font-weight: 300;
	}

	input[type=url] {
		padding: 13px 13px;
		border: 0;
		border-bottom: 2px solid #61733e;
		box-shadow: none;
		background-color: #51632e;
		text-align: left;
		display: block;
		box-sizing: border-box;
		width:100%;
		color: #c1e494;
		margin-bottom: 20px;
    font-size: 16px;
	}

	button {
		color: #a7ce74;
		padding: 13px 40px;
		background: #33510c;
		border: 0;
		font-size: 18px;

		&.next {
			margin: 5px auto;
			margin-left: 0.8em;
		}

		&.skip {
			margin: 5px auto;
			margin-right: 5px;
		}
	}
}



@media (max-width: 400px) {
	html.PAGE_SERVER {
		input[type=url] {
		}
	}
}
