/* PostCSS */

html.PAGE_SERVER {
	background: #5c883c;

	section {
		max-width:800px;
		padding: 20px 15px 100px 15px;
		margin: 0px auto;
		color: black;
		text-align:center;
	}

	label {
		display:block;
		font-size:x-large;
		color: white;
		margin-bottom: 0.5em;
	}

	input[type=url] {
		font-size:xx-large;
		padding: 5px 7px;
		border:solid 1px #999;
		border-radius: 3px;
		text-align:left;
		display:block;
		box-sizing: border-box;
		width:100%;
	}

	button {
		background: #5c883c;
		color: #fff;
		font-weight:100;
		position:fixed;
		bottom: 0px;
		right:0px;
		font-size:xx-large;
		padding: 0.5em 1em 0.5em 1em;
		border: solid 0px white;
	}

}



@media (max-width: 400px) {
	html.PAGE_SERVER {
		input[type=url] {
			font-size:x-large;
		}
	}
}
