/* PostCSS */

@define-mixin reset {
	padding: 0;
	margin: 0;
}


html.PAGE_PENDING {
	background: #5c8727; /* Old browsers */
	background: -moz-linear-gradient(top,  #3a4b20 0%, #5d8827 50%, #5d8827 50%, #80a529 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #3a4b20 0%,#5d8827 50%,#5d8827 50%,#80a529 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #3a4b20 0%,#5d8827 50%,#5d8827 50%,#80a529 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a4b20', endColorstr='#80a529',GradientType=0 ); /* IE6-9 */

	section {
		padding: 20px 30px 20px 30px;
		margin: 0px auto;

		h1 {
			border-bottom: dotted 1px white;
			font-weight: 300;
		}
	}

	i.noPendingUploads {
		display:block;
		padding-top:20%;
		text-align:center;
		font-size: 24px;
	}

	button.uploadAll,
	button.deleteAll {
		width:100%;
		padding: 13px 40px;
		margin: 0px 0px 10px 0px;
		font-size: 18px;
		font-weight: bold;
	}

	div.item {
		display:block;
		clear:both;
		width:92%;
		position:relative;
		top: -0.8em;
		left: 15px;

        button.edit,
		button.delete {
			float:right;
			margin-top: 4px;
			margin-left: 10px;
			margin-bottom: 10px;
			margin-right: 0px;
      background: #5c8727;
      color: #FFFFFF;
			text-indent: 0;
		}

	}

	div.buttonTray {
		clear:both;
		padding-top: 1em;
		margin-top: 1.5em;

		button {
			padding: 0.8em 1em;
		}
	}


}
