/* PostCSS */

@define-mixin reset {
	padding: 0;
	margin: 0;
}


html.PAGE_PENDING {
	section {
		max-width:800px;
		padding: 10px 15px;
		margin: 0 auto;
	}

	i.noPendingUploads {
		display:block;
		text-align:center;
		font-size:large;
		margin-top: 2em;
	}

	div.item {
		display:block;
		clear:both;
		width:93%;
		position:relative;
		top: -0.8em;
		left: 0.6em;

		button.delete {
			float:right;
			margin-top: -0.5em;
			border: solid 1px #eee;
			background: transparent;
			font-size:small;
			padding: 0.5em 1em;
			height: 100%;
			color: #fff;
			margin-left: 1.5em;
			margin-bottom: 1.5em;
			margin-right: 0px;
		}

	}

	div.deleteAllButtonTray {
		clear:both;
		padding-top: 1em;
		margin-top: 1.5em;
	}

	button.deleteAll {
		background: none;
		border: solid 1px #ccc;
		color: #ddd;
		padding: 1em;
	}
}
