/* PostCSS */

@define-mixin reset {
	padding: 0;
	margin: 0;
}


html.PAGE_PENDING {
	section {
		max-width:800px;
		padding: 10px 15px;
		margin: 0 auto;
	}

	div.item {
		display:block;
		clear:both;
		width:100%;

		button.delete {
			float:right;
			margin-top: -1.3em;
			border: solid 1px #eee;
			background: transparent;
			font-size:small;
			padding: 0.5em 1em;
			height: 100%;
			margin-left: 1.5em;
			margin-bottom: 1.5em;
		}

	}

	div.deleteAllButtonTray {
		clear:both;
		border-top: dotted 1px #666;
		padding-top: 1em;
		margin-top: 1.5em;
	}

	button.deleteAll {
		background: #fff;
		border: solid 1px #ccc;
		color: #666;
		padding: 1em;
	}
}
