button,
a {
  cursor: pointer;
  outline: 0;

  &:focus,
  &:active {
    outline: 0;
  }
}

label.big,
label.small,
button.big,
button.small {
  box-sizing: border-box;
  cursor: pointer;
  background: #33510c;
	color: #a7ce74;
  border: 0;
	padding: 13px 20px;
  font-weight: bold;

  &:active {
    background: #477c02;
  }
}

label.big,
button.big {
  display:inline-block;
  text-align:center;
  width:100%;
  margin: 0px 0px 10px 0px;
  font-size: 18px;
}

button.small {
  padding: 7px;
  margin: 0px 0px 10px 0px;
  font-size: 14px;
  font-weight:normal;
}
