/* PostCSS */

@define-mixin reset {
	padding: 0;
	margin: 0;
}

html {
	transition: background-color 0.5s;
	background: #666;
}

body {
  user-select: none;
  @mixin reset;
  font-family: sans-serif;
	color: #fff;
	font-weight:100;
}

html,
body,
#container,
#container > div {
	min-height: 100%;
}


@import "./buttons.css";
@import "./headings.css";
@import "./forms.css";
@import "../js/components/server/server.css";
@import "../js/components/login-type/login-type.css";
@import "../js/components/login/login.css";
@import "../js/components/sso/sso.css";
@import "../js/components/logobar/logobar.css";
@import "../js/components/navbar/navbar.css";
@import "../js/components/user/user.css";
@import "../js/components/add/add.css";
@import "../js/components/add-library/add-library.css";
@import "../js/components/add-journal-entry/add-journal-entry.css";
@import "../js/components/pending/pending.css";
@import "../js/components/expand-collapse/expand-collapse.css";
@import "../js/components/react-tagsinput/react-tagsinput.css";
@import "../lib/alertify.js/alertify.css";
