/* PostCSS */

@define-mixin reset {
	padding: 0;
	margin: 0;
}

html {
	transition: background-color 0.5s;
}

body {
  user-select: none;
  @mixin reset;
  font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #FFFFFF;
	font-weight: normal;
}

html,
body,
#container,
#container > div {
	min-height: 100%;
}

@import "./fonts.css";
@import "./buttons.css";
@import "./headings.css";
@import "./forms.css";
@import "../js/components/server/server.css";
@import "../js/components/login-type/login-type.css";
@import "../js/components/login/login.css";
@import "../js/components/token/token.css";
@import "../js/components/logobar/logobar.css";
@import "../js/components/navbar/navbar.css";
@import "../js/components/add-journal-entry/select2.css";
@import "../js/components/user/user.css";
@import "../js/components/add/add.css";
@import "../js/components/add-journal-entry/add-journal-entry.css";
@import "../js/components/pending/pending.css";
@import "../js/components/expand-collapse/expand-collapse.css";
@import "../lib/alertify.js/alertify.css";

.alertify {
	.alert, .dialog {
		> * {
			border-radius: 10px;
		}

		nav {
			button:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button) {
			  background: #33510c;
				color: #a7ce74;
				border-radius: 0;

				&:hover, &:focus {
					background: #33510c;
					color: #a7ce74;
				}
			}
		}

	}
}
