/* PostCSS */

html.PAGE_LOGIN_TYPE {
  background: url(../image/blurbkgd.jpg) no-repeat 0 0;
  background-size: cover;

	section {
		padding: 20px 30px 20px 30px;
		margin: 0px auto;
		text-align: center;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
	}

	button.loginType,
	button.changeServer {
		display: inline-block;
		box-sizing: border-box;
		text-align: center;
    margin: 5px 5px;
		color: #a7ce74;
		padding: 13px 40px;
		background: #33510c;
		border: 0;
		font-size: 16px;
	}

	h2 {
		color: #FFFFFF;
		margin-bottom: 5px;
		font-size: 24px;
		font-weight: 300;
	}

	p.textLinks {
		font-size: 16px;
	}

	a.changeServer {
		background: transparent;
		color: #ecff64;
		border: none;
		text-decoration: underline;
		padding: 0px;
		margin-left: 1em;
		font-size: 14px;
	}

}
