/* PostCSS */

@define-mixin reset {
	padding: 0;
	margin: 0;
}


html.PAGE_ADD {
	section {
		max-width:800px;
		padding: 10px 15px;
		margin: 0 auto;
	}

	button {
		cursor: pointer;
		width:100%;
		padding: 0.5em 0px;
		margin: 0px 0px 0.7em 0px;
		font-size:xx-large;
		font-weight:100;
		border: solid 1px #bbb;
		border-radius: 3px;
		background: #ccc;
		color: #333;
	}
}
